<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>MacroMouse</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourname.macromouse</string>
	<key>CFBundleName</key>
	<string>MacroMouse</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.3</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>MacroMouse 需要控制其他应用以执行复制、粘贴、剪切、窗口最大化或最小化、回车等用户定义的手势操作。</string>
</dict>
</plist>
